<html> 

<h1> Welcome to the Admin Page </h1>

<p> Link to All vouchers <p/>
<p> Link to Expired vouchers <p/>
<p> Link to Paid Vouchers <p/>
<p> Link to Redeemed Vouchers <p/>

<p> Home <p/>

</html>