<h2 class="p-3"> Error! </h2><br>

<div class="container">
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal"> Shops with existing members of staff can't be deleted </h4>

       </div>
    <div class="card-body">
        <h5> Please remove vendor priviledges before deleting this store</h5>
    </div>
<p><div class="button-group">
        <%= link_to "Back to shops list", admin_shops_path, class: "btn btn-success" %>
        <br>
    </div></p>