<!DOCTYPE html>
<html lang="en">
    <head>
    <title> About </title>
    </head>
    <body>
    <div class="Katie">
    <h1>About Us</h1>
        <p>Discount on the things you LOVE</p>
            <article>
            Voucherific was created in June of 2019 by a group of novice coders with the goal of shifting power into the hands of the local buyer, allowing us to enjoy new and exciting experiences that our island has to offer.
            The concept is new to our island and we think it is a perfect fit to our unique population. It's pretty simple; we do our best to give people unbeatable deals everyday so they can try new and exciting things they may have not had a chance to try otherwise.
            Without our community, we're really nothing. We encourage our users to get involved in our daily discussions, blog, ask questions, share the deals through Twitter, Facebook and Email, and help spread the word of collective buying! <br>
            </article>
            <%=image_tag("green-bow.jpg", alt: "green bow", :size => '450x200')%>
    </body>
</html>