<!DOCTYPE html>
<html lang="en">
    <head>
    <title> About </title>
    </head>
    <body>
    <h1>About Us</h1>
        <p>Making a positive difference to all those living with, or affected by, impaired sight</p>
            <article>
                Voucherific is a charity that supports sight impaired Islanders in Jersey. Previously known as the Jersey Blind Society, it is the only charity on the Island whose sole focus is to help those with sight impairments.<br>
                Our services and support are offered to all age groups, from infants through to the elderly. We aim to help enable those affected by sight impairment and their families benefit from tailored support, activities and social events, to ensure that they are empowered to live more independently with their sight loss. Our services and support are open to anyone with sight impairment.<br>
                We are one of Jersey’s oldest charities, and were established in 1886 as the Jersey Blind Society. In 2015 we changed to Voucherific, to reinforce that we are here to support people at all stages of sight loss.<br>
                Voucherific strongly believes in enabling our members to be able to do anything, there is nothing that is impossible and none of the team will give up trying to find a solution for you. The team that work for EYECAN are dedicated and focused on the needs of people with sight impairment and will do their utmost to deliver what they promise.<br>
                The committee is in charge of all of the affairs of EYECAN. They are also responsible for the wide-ranging aspects of the Voucherific’s work.<br>
                
                The Society is registered with the Association of Jersey Charities registration number 109 and is registered with the Jersey Financial Services Commission as a non-profit organisation number 362 <br>
            </article>
    </body>
</html>