<!DOCTYPE html>
<html>

	<!-- Link css style  -->

  <head>
    <title>Voucherific</title>
    
  </head>

  <header> <!-- Reusable Code here --> </header>

  <body>
    <%= <h1>Contact Us 
		    <ul>
		    	<li>
		    		<p>Social Media 1</p>
		    		<p>Social Medai 2</p>
		    		<p>Social Media 3</p>
		    		<p>Phone</p>
		    		<p>Post Code</p>
		    	</li>
		    </ul>
	    </h1>
     %>
  </body>

  <footer>
  	<!-- Reusable code here -->
  </footer>
</html>
