<!DOCTYPE html>
<html>

	<!-- Link css style  -->

  <head>
    <title>Voucherific</title>
    
  </head>

  <header> <!-- Reusable Code snippit here --> </header>

  <body>
    <%= <h1>Contact Us %>
		    <ul>
		    	
		    	<li><a href="" alt="Clickable link to Social Media page 1">Social Media 1</a></li>
		    	<li><a href="" alt="Clickable link to Social Media page 2">Social Medai 2</a></li>
		    	<li><a href="" alt="Clickable link to Social Media page 3">Social Media 3</a></li>

		    	<li><a href="" alt="List phone number">Phone</a></li>
		    		<!-- Look into whether or not additional functinality is possible ie upon clicking number automaticly dial number assuming website is being accessed on smartphone ?" -->

		    	<li><a href="" alt="Post Code -">Post Code</a></li>
					<!-- Possible additional functionality in either embedding google maps into web page with it set to our postcode. -->

		    	
		    </ul>
	    </h1>
     
  </body>

  <footer>
  	<!-- Reusable code snippit here -->
  </footer>
</html>
