<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FAQ</title>
    </head>

    <body>
        <div>
            <div>

            </div>

            <h1>Frequently Asked Questions</h1>
            <div>
            <div> Voucherific is pleased to offer discount vouchers for those requiring eyecare services. Give yourself the ultimate gift of vision and clarity<br>
            Whether it be buying your first frames or simply getting your eyes tested see how Voucherific can help you.
            </div>
            <br>
                <ul> 
                    <li><b>HOW DO I APPLY FOR A DISCOUNT VOUCHER?</b></li>
                    Signing up is easy, simply create an account or login. Once logged in you will see a list of vouchers availaible to you. Simply select the discount voucher you wish to choose and we'll email it to you!
                    <li><b>HOW DO I USE MY DISCOUNT VOUCHER?</b></li> 
                    Simply take your voucher to any of our partnered opticians and redeem your voucher at checkout
                    <li><b>HOW LONG IS THE VOUCHER VALID FOR?</b></li> 
                    All vouchers are valid for 6 months from purchase
                    <li><b>CAN I APPLY FOR MULTIPLE VOUCHERS?</b></li>
                    Yes you can take advantage of our multiple offers. although please note only one voucher can be redeemed per purchase. Vouchers cannot be combined or reedemed for cash
                    <li><b>CAN I USE THE VOUCHER ANYWHERE?</b></li> 
                    Vouchers can be redeemed at opticians listed within our partners section
                    <li><b>I DON'T HAVE AN EMAIL ADDRESS CAN I STILL APPLY FOR A VOUCHER?</b></li>  
                    You must provide a valid email address to sign up to this service. 
                    <li><b>I'VE LOST MY EMAIL CONTAINING MY VOUCHER CODE CAN I STILL REDEEM MY OFFER?</b></li>  
                    Yes, if you have lost your voucher code please contact us using the "Contact" section below and Voucherific will retrieve your voucher details for you
                    <li><b>FOR ANY OTHER QUESTIONS</b></li> 
                    Contact us using the "Contact" section below
                </ul> 
            </div>

            <div>

            </div>
        </div>

    </body>
</html>