<html>
    <head>
        <title>FAQ</title>
    </head>

    <body>
        <div>
            <div>

            </div>

            <div>
                <ul> 
                    <li>menu item</li>  
                    <li>menu item</li> 
                    <li>menu item</li>  
                    <li>menu item</li> 
                    <li>menu item</li>  
                    <li>menu item</li> 
                </ul> 
            </div>

            <div>

            </div>
        </div>

    </body>
</html>