<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FAQ</title>
    </head>

    <body>
        <div>
            <div>

            </div>
            <div class="Katie">
            <h1>Frequently Asked Questions</h1>
            <div> Voucherific is pleased to offer discount vouchers for those requiring eyecare services. Give yourself the ultimate gift of vision and clarity<br>
            Whether it be buying your first frames or simply getting your eyes tested see how Voucherific can help you.
            </div>
            <br>
            <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  HOW DO I APPLY FOR A DISCOUNT VOUCHER?
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                Signing up is easy, simply create an account or login. Once logged in you will see a list of vouchers availaible to you. Simply select the discount voucher you wish to choose and we'll email it to you!
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  HOW DO I USE MY DISCOUNT VOUCHER?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                Simply take your voucher to any of our partnered opticians and redeem your voucher at checkout
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  HOW LONG IS THE VOUCHER VALID FOR?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                All vouchers are valid for 6 months from purchase
                </div>
              </div>
            </div>
            <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                CAN I APPLY FOR MULTIPLE VOUCHERS?
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
              Yes you can take advantage of our multiple offers. although please note only one voucher can be redeemed per purchase. Vouchers cannot be combined or reedemed for cash
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  CAN I USE THE VOUCHER ANYWHERE? 
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                Vouchers can be redeemed at opticians listed within our partners section
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  I DON'T HAVE AN EMAIL ADDRESS CAN I STILL APPLY FOR A VOUCHER?
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                You must provide a valid email address to sign up to this service. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  I'VE LOST MY EMAIL CONTAINING MY VOUCHER CODE CAN I STILL REDEEM MY OFFER?
                  </button>
                </h5>
              </div>
              <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                <div class="card-body">
                Yes, if you have lost your voucher code please contact us using the "Contact" section below and Voucherific will retrieve your voucher details for you
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingEight">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  FOR ANY OTHER QUESTIONS
                  </button>
                </h5>
              </div>
              <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                <div class="card-body">
                Contact us using the "Contact" section below
                </div>
              </div>
            </div>
         </body>
</html>