<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TERMS</title>
    </head>

    <body>

   	<!-- Span tags assigned with lang attribute are exempt from html lang attribute with the target ie pl polish overiding english allowing multiple languages to be used on one page with the screen reader addapting to it. -->

	    	<span lang="en">

				<!-- List terms of service in target Lang. -->
   				<h1>Terms of Service</h1>
	    			<p> Terms of service for english users.</p>
	    	</span>


	    	<span lang="pl">

	    		<!-- List terms of service in Target Lang-->
	    		<h1> Terms of service in polish</h1>
	    			<p> Terms of service for polish users.</p>

	    	</span>

	    	<span lang="pt">
			<!-- List terms of service in Target Lang -->
	    		<h1> Terms of service in portuguise</h1>
	    			<p> Terms of service for portuguise users.</p>
	    	</span>


    </body>
</html>