<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TERMS</title>
    </head>

    <body>

   	<!-- Span tags assigned with lang attribute are exempt from html lang attribute with the target ie pl polish overiding english allowing multiple languages to be used on one page with the screen reader addapting to it. -->

	    	<span lang="en">

				<!-- List terms of service in target Lang. -->
   				<h1>Terms and Conditions</h1>
					<p> <br>
<b>Introduction</b><br>
These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at Website.com.
These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.<br>
					
<div id="accordion">
	<div class="card">
		 <div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Intellectual Property Rights
				 </button>
			</h5>
	</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
	  Other than the content you own, under these Terms, Company Name and/or its licensors own all the intellectual property rights and materials contained in this Website.
	  You are granted limited license only for purposes of viewing the material contained on this Website.
	  </div>
    </div>
  </div>

  <div id="accordion">
  <div class="card">
	   <div class="card-header" id="headingOne">
		  <h5 class="mb-0">
			  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				  Restrictions
			   </button>
		  </h5>
  </div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	<div class="card-body">
	You are specifically restricted from all of the following:<br>

publishing any Website material in any other media;
selling, sublicensing and/or otherwise commercializing any Website material;
publicly performing and/or showing any Website material;
using this Website in any way that is or may be damaging to this Website;
using this Website in any way that impacts user access to this Website;
using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;
engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;
using this Website to engage in any advertising or marketing.
Certain areas of this Website are restricted from being access by you and Company Name may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.
</div>
</div>
</div>

<div id="accordion">
	<div class="card">
		 <div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Your Content
				 </button>
			</h5>
	</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
	In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Company Name a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.
	Your Content must be your own and must not be invading any third-party's rights. Company Name reserves the right to remove any of Your Content from this Website at any time without notice.
	 </div>
	 </div>
	</div>
    

  <div id="accordion">
	<div class="card">
		 <div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Limitation of Liability
				 </button>
			</h5>
	</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
	  In no event shall Company Name, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether such liability is under contract.  Company Name, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this Website.
	  </div>
    </div>
  </div>

  <div id="accordion">
	<div class="card">
		 <div class="card-header" id="headingOne">
			<h5 class="mb-0">
				<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Variation of Terms
				 </button>
			</h5>
	</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
	  Company Name is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.
	 </div>
	 </div>
  </div>

	 <div id="accordion">
	 <div class="card">
		  <div class="card-header" id="headingOne">
			 <h5 class="mb-0">
				 <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					 Entire Agreement
				  </button>
			 </h5>
	 </div>
 <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
	   <div class="card-body">
	   These Terms constitute the entire agreement between Company Name and you in relation to your use of this Website, and supersede all prior agreements and understandings.
	  </div>
	  </div>
  </div>
    </body>
</html>