<%= form_for [@supplier, order] do |f| %>

	<div class ="field">
		<%= f.label :quantity,"Quantity" %>
		<% f.text_field :quantity %>
	</div>

	<div class="actions">
		<% f.submit %>
	</div>

<% end %>