<h2> All vouchers </h2>

<hr class="mt-4 mb-4">

<% @vouchers.each do |voucher| %>

    <p> Voucher number: <%= voucher.number %> </p>
    <p> Voucher value:  <%= voucher.template.value %> </p>
    <p> Voucher description:  <%= voucher.template.description %> </p>
    <hr class="mt-4 mb-4">
<% end %>

<%= link_to "Back To Admin Homepage", admin_vouchers_path ,class: "btn btn-primary" %>