</br>
<h2> Available vouchers: </h2>
<hr class="mt-4 mb-4">
<% @vouchers.each do |voucher| %>

    <p> Voucher value: £ <%= voucher.value %> </p>
    <p> Voucher description: <%= voucher.description %> </p>
    <hr class="mt-4 mb-4">
<% end %>

<%= link_to "Create New Voucher", new_admin_voucher_path, class: "btn btn-primary" %>