



<h2> Paid vouchers</h2>

<hr class="mt-4 mb-4">

<% @vouchers.each do |voucher| %>

    <p> Voucher number: <%= voucher.number %> </p>
    <p> Voucher value:  <%= voucher.template.value %> </p>
    <p> Voucher description:  <%= voucher.template.description %> </p>
    <hr class="mt-4 mb-4">
<% end %>

<%= link_to "Back To Admin Homepage", admin_vouchers_path ,class: "btn btn-primary" %>


<div class="container-fluid bg-light ">
	<div class="row align-items-center justify-content-center">
            	        <div class="col-md-2 pt-3">
                           <div class="form-group ">
                              <select id="inputState " class="form-control">
                                <option selected>Status</option>
                                <option>All</option>
                                <option>Expired</option>
                                <option>Redeemed</option>
                                <option>Paid</option>
                              </select>
                           </div>
                        </div>
                		<div class="col-md-2 pt-3">
                           <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Date</option>
                                <option>All time</option>
                                <option>Last week</option>
                                <option>Last month</option>
                                <option>Last 3 months</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                              <select id="inputState" class="form-control">
                                <option selected>Vendors</option>
                                <option>All</option>
                                
                              </select>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
            	           <button type="button" class="btn btn-primary btn-block">Search</button>
            	        </div>
                	</div>
</div>
