<html> 

<h1> Redeemed Vouchers </h1>

<p> A series of 'if' statements to differentiate the status of each voucher with appropriate voucher actions. </p>
<p><%= link_to 'voucher', expired_path %></p>
<p> Home </p>

</html>