<h1> Welcome To Admin Page </h1>
<h2> Please select one of the following options </h2>

<%= link_to "View Voucher Templates", admin_vouchers_path, class: "btn btn-primary" %>


<%= link_to "Redeemed Vouchers", admin_instances_redeemed_path, class: "btn btn-primary" %>
<%= link_to "All Vouchers", admin_instances_all_path, class: "btn btn-primary" %>

<hr class="mt-4 mb-4">



