<footer>
  <nav class="navbar navbar-light bg-light m-0 p-0">
      <nav class="navbar text-center float-left m-0 p-0">
        <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/contact">Contact</a>
          <a class="nav-link" href="/faq"> FAQs</a>
        <a class="nav-link" href="/terms"> T&CS</a>
      </nav>
  </nav>
</footer>