<footer>
  <nav class="navbar static-bottom navbar-light bg-light">
      <nav class="navbar text-center float-left">
        <a class="nav-link" href="/about">About</a>
          <a class="nav-link" href="/contact">Contact</a>
          <a class="nav-link" href="/faq"> FAQs</a>
        <a class="nav-link" href="/terms"> T&CS</a>
      </nav>
  </nav>
</footer>