<!--This is the view for all vouchers for the logged in customer-->
<!--#<h1>Customer::Voucher#index</h1> -->



<div>
    <h1> Check out all your vouchers! </h1>

        <div>
            <% @voucher.each do |voucher| %>
                <div>
                    <%= link_to customer_voucher_path(voucher), method: :put do %>
                    <p><%= voucher.description %></p>
                    <p><%= voucher.value %></p>
                    <p><%= voucher.expiry_date %></p>
                    
                    <% end %>
                    
                </div>
            <% end %>

            
        
        </div>
</div>

