<section class="valid">
    <div class="container">
        <h2 class="subtitle is-5"><strong>Voucher Valid !</strong></h2>
        <p><%= @voucher.value, @voucher.description %><p>
        <%= render  %>
        <div class="comment-form">
            <hr />
            <h3 class="subtitle is-3">Leave a reply</h3>
             <%= render 'comments/form' %>
        </div>
    </div>
</section>
<%= f.button :submit, 'Validate Voucher', class: "button is-primary" %>