
</br>
<h2> Sorry, this voucher has already been redeemed </h2>


<%= link_to "Try Again", shop_vouchers_validate_path , class: "btn btn-primary" %></br>
<small> Vouchers are valid for single use purchase only </small></br>