</br>
<h1> REDEEM A VOUCHER </h1>
<h2>Enter your Voucher code below </h1>


<div class="mx-auto" style="width: 300px;">
  <%= simple_form_for :validate, url: '/shop/vouchers/validate', method: "GET", html: { class: 'form-inline' } do |f| %>
    <%= f.number_field :number, label: false, required: true, input_html: {value: ""} %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>

  <small> This voucher is non-refundable and cannot be exchanged for cash in part or full and is valid for a single transaction only </small></br>
      <small> This offer cannot be used in conjunction with any other discount or promotional offer</small>
  <div class="text-center p-4"
  <p>
    <%= link_to "Back To Homepage", root_path ,class: "btn btn-primary" %>
  </p> 
</div>


