<!--This is the view for the logged in customer to get a new template -->

<div>
    <h1> Get a NEW template </h1>
    <p> This is a template for you </p>

</div>  

    <p><%= link_to "Back", :back %></p> <!-- takes user back to the previous page they were on -->
