<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Total Sales</th>
      <th>Total Orders </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= Sale.total_sales %></td>
        <td><%= Order.total_orders %></td>
      </tr>
  </tbody>
</table>

<br>
