<!--This is the view for the logged in customer to see details of a specific selected coupon-->
<h2>Specific voucher instance details to show here</h2>

<div class="customervoucher">
    <p>  Id : <%= @instance.voucher.id %> </p>
    <p>  Value : <%= @instance.voucher.value %> </p>
    <p>  Description : <%= @instance.voucher.description %> </p>
</div>

 <p><%= link_to "Back", customer_instances_path %></p> 


  





