<!--This is the view for the logged in customer to see details of a specific selected coupon-->
<h2>Voucher details:</h2>

<div class="customertemplate">
    <p>  Number : <%= @instance.number %> </p>
    <p>  Value : £ <%= @instance.template.value %> </p>
    <p>  Description : <%= @instance.template.description %> </p>
    <% if @instance.redeemed_at != nil %>
        <p style="color:red;" > template HAS BEEN REDEEMED </p>
    <% end %>
</div>

 <p><%= link_to "Back", customer_instances_path %></p> 


  





